/* @media(min-width:3500px){
    html{
        font-size: 64px;
    }
}
@media(min-width:1600px) and (max-width:3500px){
    html{
        font-size: 32px;
    }
}
@media(min-width:650px) and (max-width:900px){
    html{
        font-size: 10px;
    }
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
}
header{
    background-color: white;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    padding: 0.5rem;
    padding-top:1rem;
    padding-left: 1rem;
    /* width: 5vw; */
    z-index: 2;
}
#logo img{
    width: 6vw;
}
.nav-menu{
    display: flex;
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
}
#checkbox-btn{
    display: none;
}
.hamburger-icon{
    display: none;
    font-size: 5vw;
    margin-right: 0.5rem;
}
.nav-menu li a{
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    /* padding-right: 3rem; */
    font-weight: bold;
}
.nav-menu li a:hover{
    color: white;
    background-color: black;
}
#banner{
    width: 100%;
}
.banner-container{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
}
.banner-text h2{
    margin-bottom: 2.5vw;
    font-size: 5.5vw;
}
.banner-text p{
    font-size: 1.6vw;
    margin: 2.5vw;
}
.availability-btn{
    border: none;
    background-color: gray;
    font-size: 3.6vw;
    margin: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top:0.5vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
    font-weight: bold;
}
.availability-btn:hover{
    background-color: white;
}
.hotel-history{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
#history-image{
    width: 50%;
}
.history-details{
    background-color: black;
    width: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.history-details h2{
    color: white;
    font-size: 3rem;
    line-height: 4rem;
}
.history-details h2:nth-of-type(2){
    color: gray;
}
.history-details p{
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 1.5rem;
}
#best-room-heading{
 text-align: center;
 font-size: 2rem;
}
.best-rooms{
    display: flex;
     margin: 1rem;
     justify-content: space-between;
     gap: 0.5rem;
}
.best-rooms-1{
    margin: 0.5rem;
    flex: 1;
    box-shadow: 5px 5px 3px rgb(136, 135, 135);
}
.best-rooms-1 img{
    width: 100%;
}
.best-rooms-1 h2{
    font-size: 2rem;
    margin: 1rem;
}
.best-rooms-1 p{
    font-size: 1.5rem;
    margin: 1rem;
    margin-bottom: 0.25rem;
}
.best-rooms-1 h4{
    font-size: 1.5rem;
    float: right;
    margin: 1rem;
    /* padding: 1rem; */
    color: gray;
}
.book-now-button{
    background-color: rgb(32, 32, 32);
    border:none;
    color: white;
    cursor: pointer;
    /* padding: 0.5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 1rem;
    font-size: 1.5rem;
}
.book-now-button:hover{
    background-color:black;
}

.room-container{
    display: flex;
    flex-direction: column;
}
.rooms{
    margin:1em;
    display: flex;
}
.room-image{
    position:relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.room-image img{
    width: 100%;
    box-shadow: 5px 5px 3px rgb(136, 135, 135);
}
.room-text{
    position: absolute;
    bottom: 0.6vw;
    right: 1vw;
    font-size: 2vw;
}
.contact-us-container{
    background-color:hsl(42deg 8% 53%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.phone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.phone h2{
    font-size: 2rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icons h2{
    font-size: 2rem;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscribe h2{
    font-size: 2rem;
}
.social-media-btns{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.social-media-btns img{
    width: 2rem;
}
.email-box{
    display: flex;
}
#email{
    padding: 0.5rem;
    font-size: 1.5rem;
}
.submit{
    padding: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.submit:hover{
    background-color: white;
    color: black;
}
footer{
    /* text-align: center; */
    color: white;
    background-color: black;
    height: 10vh;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* @media(max-width:650px){
    html{
        font-size: 8px;
    }
    .hamburger-icon{
        display: block;
    }
    #logo img{
        width: 10vw;
    }
    .nav-menu{
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        text-align: center;
        font-size: 3rem;
        padding: 2rem;
        transform: translateY(-200%);
        z-index: 1;
        transition: all 200ms ease-in-out;
    }
    .nav-menu li{
        margin: 3rem;
    }
    .nav-menu li a{
        padding: 0.5rem;
    }
    #checkbox-btn:checked ~ .nav-menu{
        transform: translateY(0);
    }

    .banner-text h2{
        font-size: 7vw;
    }
    .banner-text p{
        font-size: 3vw;
    }
    .hotel-history{
        flex-direction: column;
    }
    #history-image{
        width: auto;
    }
    .history-details{
        width: auto;
    }
    .history-details h2{
        font-size: 7vw;
    }
    .history-details p{
        font-size: 6vw;
        line-height: 7vw;
    }
    .best-rooms{
        flex-direction: column;
        width: auto;
    }
    .rooms{
        flex-direction: column;
        width: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    .room-text{
        font-size: 5vw;
    }
    .contact-us-container{
        flex-direction: column;
        width: auto;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .phone{
        margin: 0.5rem;
    }
    .icons{
        margin: 0.5rem;
    }
    .subscribe{
        margin: 0.5rem;
    }
} */
