@media(min-width:3500px){
    html{
        font-size: 64px;
    }
}
@media(min-width:1600px) and (max-width:3500px){
    html{
        font-size: 32px;
    }
}
@media(min-width:650px) and (max-width:900px){
    html{
        font-size: 10px;
    }
}
@media(max-width:650px){
    html{
        font-size: 8px;
    }
    .hamburger-icon{
        display: block;
    }
    #logo img{
        width: 10vw;
    }
    .nav-menu{
        width: 100vw;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        text-align: center;
        font-size: 3rem;
        /* padding: 2rem; */
        margin: 0;
        transform: translateY(-200%);
        z-index: 1;
        transition: all 200ms ease-in-out;
    }
    .nav-menu li{
        margin: 3rem;
    }
    .nav-menu li a{
        padding: 0.5rem;
    }
    #checkbox-btn:checked ~ .nav-menu{
        transform: translateY(0);
    }

    .banner-text h2{
        font-size: 7vw;
    }
    .banner-text p{
        font-size: 3vw;
    }
    .hotel-history{
        flex-direction: column;
    }
    #history-image{
        width: auto;
    }
    .history-details{
        width: auto;
    }
    .history-details h2{
        font-size: 7vw;
    }
    .history-details p{
        font-size: 6vw;
        line-height: 7vw;
    }
    .best-rooms{
        flex-direction: column;
        width: auto;
    }
    .rooms{
        flex-direction: column;
        width: auto;
        margin-bottom: 0;
        margin-top: 0;
    }
    .room-price{
        font-size: 5vw;
    }
    .contact-us-container{
        flex-direction: column;
        width: auto;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
    }
    .phone{
        margin: 0.5rem;
    }
    .icons{
        margin: 0.5rem;
    }
    .subscribe{
        margin: 0.5rem;
    }
}